html{
    height:100%;
}

body{
    background:url("../images/bg.png");
    position:relative;
    padding-bottom:80px;
    height:100%;
    font-family:Menlo, Monaco, Consolas, "Courier New", monospace;
}

blockquote{
    font-size:14px;
    color:#e5cccc;
    padding:0 8px;
    margin:-8px 0 20px -12px;
}

.h4, h4{
    font-size:14px;
    font-weight:bold;
    margin-top:20px;
}

.table .table tr:nth-child(even){
    background:rgb(225, 255, 255);
}

.table .table tr:nth-child(1){
    background:rgb(252, 240, 231);
}

.table.on{
    border:2px dashed blue;
}

.table.none{
    display:none;
}

.active{
    border-bottom:2px solid #afafaf;
    box-shadow:-5px 5px 5px #b7b3bd;
}

.navbar-brand small{
    color:#ffffff;
    font-size:10px;
    background:#a0a030;
    padding:2px 6px;
    border-radius:12px;
    text-shadow:0 0 5px #ffffff;
}

.navbar-brand{
    transition:all 1s;
}

.navbar-brand:hover{
    text-shadow:0 0 3px #efefef;
    transition:all 1s;
}

a.list-group-item:focus, a.list-group-item:hover{
    background:#e4e4e4;
}

a.hightLight{
    background:#e4e4e4;
}

#rocket-to-top div{
    left:0;
    margin:0;
    overflow:hidden;
    padding:0;
    position:absolute;
    top:0;
    width:147px;
}

#rocket-to-top .level-2{
    background:url("../images/rocket_button_up.png") no-repeat scroll -149px 0 transparent;
    display:none;
    height:250px;
    opacity:0;
    z-index:1;
}

#rocket-to-top .level-3{
    background:none repeat scroll 0 0 transparent;
    cursor:pointer;
    display:block;
    height:150px;
    z-index:2;
}

#rocket-to-top{
    background:url("../images/rocket_button_up.png") no-repeat scroll 0 0 transparent;
    cursor:default;
    display:block;
    height:250px;
    margin:-125px 0 0;
    overflow:hidden;
    padding:0;
    position:fixed;
    left:30px;
    top:80%;
    width:147px;
    z-index:11;
}
.list-title{
    line-height:1.1em;
    padding:8px 15px;
}

.api-list a{
    line-height:1.1em;
    padding:8px 15px;
}

.copyright{
    width:100%;
    text-align:center;
    line-height:80px;
    color:#c7c7c7;
    text-shadow:2px 3px 1px #060606;
}

.box-wrap{
    background-color:#f5f5f5;
    border-bottom:1px solid #cccccc;
    color:#333333;
    font-size:13px;
    padding:10px;
    display:inline-table;
    width:100%;
}

.box-wrap .title{
    float:left;
    margin-right:10px;
}

.box-wrap .content{
    float:left;
}

.box-wrap .content p{
    margin:0;
}

.box-wrap.notice{
    border-color:#eb9316;
    background-color:#ebccd1;
}

.content-box{
    padding:10px 0;
}

.content-box.highlight{
    background:#438ac7;
    color:#ffffff;
}

.content-box p{
    margin:0;
}

.content-box .wrap{
    margin:5px 0;
}

.content-box p a{
    color:#fff;
    text-decoration:underline;
}

.content-box .content-label{
    display:inline-block;
    width:100px;
    font-size:0.9em;
    text-align:right;
    margin-right:10px;
}

.content-box .title{
    padding:0.7em 1em;
    font-weight:bold;
    background:#438ac7;
    color:#ffffff;
}

.content-box .host{
    font-size:12px;
    color:#66aadd;
}

.content-box .list-box{
    border:1px solid #dddddd;
    border-radius:4px;
}

.content-box .sub-box{
    margin:0;
    border-top:none;
    overflow:hidden;
}

.content-box ul{
    padding:0;
    margin:0;
}

.content-box li{
    list-style:none;
    padding:0;
    margin:0;
}

.content-box .sub-box .sub-title{
    padding:0.5em 1em;
    border:1px solid #63aae7;
    border-bottom:none;
    border-top:none;
    color:#ffffff;
    background:#539ad7;
}

.content-box .list-item{
    padding:8px 0;
    clear:both;
    line-height:1.5em;
    border-top:1px solid #aaaaaa;
    position:relative;
    background:#ffffff;
}

.content-box .list-item ul{
    margin:8px 0 -8px 0;
}

.content-box .list-item.gray-background{
    background:#dddddd;
}

.content-box .list-item span{
    display:table-cell;
}

.content-box .list-item span.name{
    padding-right:0.5em;
    font-weight:bold;
    font-size:1.2em;
}

.content-box .list-item span.desc{
    padding-right:40px;
}

.panel-heading{
    background:#337ab7;
    font-weight:bold;
    line-height:26px;
    color:#fff;
    position:absolute;
    z-index:1;
    left:0;
    right:17px;
}

.less-important .title{
    color:#666666;
    background:#ffffff;
}

.expand{
    width:22px;
    height:16px;
    border:1px solid #dddddd;
    border-radius:4px;
    display:inline-block;
    font-size:12px;
    font-family:serif;
    color:#dddddd;
    cursor:default;
    padding:6px;
    line-height:4px;
    margin:0 0 0 12px;
}

.content-box .list-item .expand{
    position:absolute;
    top:11px;
    border:1px solid #999999;
    color:#999999;
}

.item-list-box{
    padding-bottom:20px;
}
.collect .title{

}
.collect a{
    display:none;
}
.classList{
    border-radius:5px 5px 0 0;
    padding:0;
    margin-left:5px;
    margin-right:-5px;
    background:#fff;
    overflow-y:auto;
    position:absolute;
    top:50px;
}
.classList .expand{
    margin-left:-5px;
    margin-right:5px;
}
.col-md-10{
    bottom: 0;
    position: absolute;
    right: 0;
    top: 50px;
}
.detail-box{
    position:absolute;
    top:0;
    padding:46px 10px 10px 10px;
    bottom:0;
    left:15px;
    right:0;
    overflow-y:auto;
}
.detail-box>*{
    background:#fff;
}